
body {
  font-family: Arial;
  margin: 0;
  background: greenyellow;
}


header {
  background: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;
  margin: 20px;
  margin-top: 10px;
}

header h1 {
  margin: 0;
  text-align: center;
  color:aqua ;
}

h2{
  color: blue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;

}
ul{
  list-style: none;
  padding: 0;
}
    ul li{
      background: #444;
      padding: 15px 17px;
      margin: 15px 0;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      font-size: 20px;
      transition: 0.5s;
      color: white;
}

p{
   box-shadow: #3498db;
   text-align: center;
}

.menu-icon {
  display: none;
  font-size: 25px;
  cursor: pointer;
  color: red;
}
navMenu,li{
    text-decoration: none;
    display: flex;
     padding-right: 40px;
     padding-right: 40px;
     margin-right: 40px;
     text-align: center;
}
nav a:hover{

  background-color: red;
  color: white;
    border-radius: 6px;
    padding: 6px 11px;
}
nav a:active{
  background: #3498db;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

section {
  display: none;
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0, 0, 0.1);
}


.active {
  display: block;
}

input, button {
  padding: 10px;
  margin: 5px;
}

button {
  background: #3498db;
  color: white;
   border: none;
}

@media (max-width: 768px) {

  nav {
    display: none;
    flex-direction: column;
    background: #2c3e50;
  }

  nav a {
    display: block;
    padding: 10px 15px;
    border-top: 1px solid #444;
    transition: 0.4s;
  }

  .menu-icon {
    display: block;
  }

  input, button {
    width: 100%;
  }

 